mixin product(product)
    a(href=`/products/${product.id}`).product-mixin
        div.product-mixin__thumb
        div.product-mixin__data
            span.product-mixin__title=product.title
            div.product-mixin__meta
                span $ #{product.price} 
                span #{product.owner.username} • 
                span #{product.meta.views} 회 